body {
  background-color: #070707;
}

.container-1 header {
  color: #fff;
}
.container-1 header .left-header-menu .logo-header {
  color: #fff;
}
.container-1 header .left-header-menu .header-menu a {
  color: #fff;
}
.container-1 header .right-header-menu .En-cont {
  color: #fff;
}
.container-1 header .right-header-menu .Send-Request-con {
  border: 1px solid grey;
}
.container-1 header .right-header-menu .Send-Request-con .Send-Request {
  color: #fff;
}
.container-1 .container-5 {
  margin: auto;
  max-width: 1440px;
  height: 744px;
  background: url(../img/bgContacts.png);
}
.container-1 .container-5 .top-container-5 {
  margin: auto;
  max-width: 1452px;
  padding: 86px 195px 0;
}
.container-1 .container-5 .top-container-5 .title-container-5 {
  margin-left: -1px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-1 .container-5 .top-container-5 .about-container-5 {
  margin-top: 13px;
  margin-left: -1px;
  max-width: 390px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
}
.container-1 .container-5 .mid-container-5 {
  margin: auto;
  max-width: 1052px;
  margin-top: 63px;
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between;
}
.container-1 .container-5 .mid-container-5 .kyiv-city {
  width: 133px;
}
.container-1 .container-5 .mid-container-5 .lviv-city {
  width: 162px;
}
.container-1 .container-5 .mid-container-5 .kharkiv-city {
  width: 154px;
}
.container-1 .container-5 .mid-container-5 .left-mid-container-5 {
  width: 652px;
  display: flex;
  justify-content: space-between;
}
.container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-city {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.528%;
  margin-bottom: 19px;
}
.container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-menu {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.66px;
  margin-bottom: 6px;
}
.container-1 .container-5 .mid-container-5 .right-mid-container-5 {
  margin-top: 1px;
}
.container-1 .container-5 .mid-container-5 .right-mid-container-5 .gmail-con5 {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 {
  display: flex;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  margin-top: 23px;
}
.container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 .logo-item-con5 {
  margin-right: 16px;
}
.container-1 .container-5 .make-request {
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  width: 183px;
  height: 48px;
  background-color: #FFF;
  margin-left: 13.38%;
  padding-left: 3px;
  padding-top: 2px;
}
.container-1 .container-5 .bot-container-5 {
  margin-top: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
}
.container-1 .container-5 .bot-container-5 .left-bot-container-5 {
  color: #828282;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 152.375%;
  margin-top: 0px;
}
.container-1 .container-5 .bot-container-5 .right-bot-container-5 {
  margin-top: 1px;
}
@media (max-width: 1439px) {
  .container-1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: -1px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu .lightimg {
    margin-top: 0px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu .left-menu-span {
    display: none;
  }
  .container-1 .container-5 {
    margin: auto;
    max-width: 1440px;
    height: 744px;
    background: url(../img/bgContacts.png);
  }
  .container-1 .container-5 .top-container-5 {
    margin: 0px;
    max-width: 1452px;
    padding: 0px 157px;
  }
  .container-1 .container-5 .top-container-5 .title-container-5 {
    margin-left: 0px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 109px;
  }
  .container-1 .container-5 .top-container-5 .about-container-5 {
    margin-top: 13px;
    margin-left: 0px;
    max-width: 390px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-1 .container-5 .mid-container-5 {
    margin: auto;
    max-width: 1052px;
    margin-top: 55px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    padding: 0px 157px;
  }
  .container-1 .container-5 .mid-container-5 .kyiv-city {
    width: 133px;
  }
  .container-1 .container-5 .mid-container-5 .lviv-city {
    width: 162px;
  }
  .container-1 .container-5 .mid-container-5 .kharkiv-city {
    width: 154px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 {
    width: 529px;
    display: flex;
    justify-content: space-between;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-city {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
    margin-bottom: 19px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-menu {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-bottom: 6px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 {
    margin-top: 5px;
    margin-right: 2px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .gmail-con5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 {
    display: flex;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-top: 21px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 .logo-item-con5 {
    margin-right: 16px;
  }
  .container-1 .container-5 .make-request {
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    width: 183px;
    height: 42px;
    background-color: #FFF;
    margin-left: 157px;
    padding-left: 0px;
    padding-top: 2px;
  }
  .container-1 .container-5 .bot-container-5 {
    margin-top: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 56px;
    padding-right: 59px;
  }
  .container-1 .container-5 .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
    margin-top: 0px;
  }
  .container-1 .container-5 .bot-container-5 .right-bot-container-5 {
    margin-top: 1px;
  }
}
@media (max-width: 1000px) {
  .container-1 {
    padding-left: 6px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: 0px;
    margin-right: -6px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu {
    margin-left: -13px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu .left-menu-span {
    display: none;
  }
  .container-1 .container-5 {
    margin: auto;
    max-width: 1440px;
    height: 744px;
    background: url(../img/bgContacts.png);
    position: relative;
  }
  .container-1 .container-5 .top-container-5 {
    margin: 0px;
    max-width: 1452px;
    padding: 0px 0px;
  }
  .container-1 .container-5 .top-container-5 .title-container-5 {
    margin-left: 117px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 252px;
  }
  .container-1 .container-5 .top-container-5 .about-container-5 {
    margin-top: 14px;
    margin-left: 118px;
    max-width: 390px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-1 .container-5 .mid-container-5 {
    padding-left: 118px;
    padding-right: 40px;
    margin: auto;
    max-width: 1052px;
    margin-top: 49px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .container-5 .mid-container-5 .kyiv-city {
    width: 133px;
  }
  .container-1 .container-5 .mid-container-5 .lviv-city {
    width: 162px;
  }
  .container-1 .container-5 .mid-container-5 .kharkiv-city {
    width: 154px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 {
    width: 520px;
    display: flex;
    justify-content: space-between;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-city {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
    margin-bottom: 19px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-menu {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-bottom: 6px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 {
    margin-top: 48px;
    margin-left: 366px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .gmail-con5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-top: 3px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 {
    display: flex;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-top: 13px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 .logo-item-con5 {
    margin-right: 16px;
  }
  .container-1 .container-5 .make-request {
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    width: 183px;
    height: 42px;
    background-color: #FFF;
    margin-left: 118px;
    padding-left: 0px;
    padding-top: 2px;
    position: absolute;
    top: 640px;
  }
  .container-1 .container-5 .bot-container-5 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 43px;
    padding-right: 48px;
  }
  .container-1 .container-5 .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
    margin-top: 0px;
  }
  .container-1 .container-5 .bot-container-5 .right-bot-container-5 {
    margin-top: 0px;
  }
}
@media (max-width: 700px) {
  .container-1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: 0px;
    margin-right: -6px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu {
    margin-left: -13px;
  }
  .container-1 header .left-header-menu .drop-down-menu .btn-dropdown-menu .left-menu-span {
    display: none;
  }
  .container-1 .container-5 {
    margin: auto;
    max-width: 1440px;
    height: auto;
    background: url(../img/container5/phon1024.png);
    position: relative;
  }
  .container-1 .container-5 .top-container-5 {
    margin: auto;
    max-width: 1452px;
    padding: 32px 24px 0;
  }
  .container-1 .container-5 .top-container-5 .title-container-5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 0px;
    margin-top: 0px;
  }
  .container-1 .container-5 .top-container-5 .about-container-5 {
    margin-top: 14px;
    margin-left: 0px;
    max-width: 307px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-1 .container-5 .mid-container-5 {
    padding-left: 24px;
    padding-right: 40px;
    margin: auto;
    max-width: 1052px;
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .container-5 .mid-container-5 .kyiv-city {
    width: 133px;
  }
  .container-1 .container-5 .mid-container-5 .lviv-city {
    width: 136px;
  }
  .container-1 .container-5 .mid-container-5 .kharkiv-city {
    width: 154px;
    margin-top: 29px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 {
    width: 520px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-city {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
    margin-bottom: 12px;
  }
  .container-1 .container-5 .mid-container-5 .left-mid-container-5 .column-con-5 .column-menu {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-bottom: 7px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 {
    margin-top: 27px;
    margin-left: 0px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .gmail-con5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-top: 3px;
    width: 200px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 {
    display: flex;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    margin-top: 15px;
  }
  .container-1 .container-5 .mid-container-5 .right-mid-container-5 .logo-con5 .logo-item-con5 {
    margin-right: 17px;
  }
  .container-1 .container-5 .make-request {
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    width: 183px;
    height: 42px;
    background-color: #FFF;
    margin-left: 25px;
    margin-top: 45px;
    padding-left: 0px;
    padding-top: 0px;
    position: static;
    top: 0%;
  }
  .container-1 .container-5 .bot-container-5 {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 50px;
    flex-wrap: wrap;
  }
  .container-1 .container-5 .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
  }
  .container-1 .container-5 .bot-container-5 .right-bot-container-5 {
    margin-top: 11px;
    margin-left: 9px;
  }
}