@charset "UTF-8";
header {
  color: black;
}
header .left-header-menu .logo-header {
  color: black;
}
header .left-header-menu .header-menu a {
  color: black;
}
header .right-header-menu .En-cont {
  color: black;
}
header .right-header-menu .Send-Request-con {
  border: 1px solid rgba(0, 0, 0, 0.32);
}
header .right-header-menu .Send-Request-con .Send-Request {
  color: black;
}

.container-1 {
  max-width: 1046px;
  margin: auto;
  margin-top: 112px;
  display: flex;
  justify-content: space-between;
}
.container-1 .left-container-1 .top-left-container-1 {
  width: 474px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1px;
}
.container-1 .left-container-1 .bot-left-container-1 {
  margin-top: 20px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
  width: 708px;
}
.container-1 .right-container-1 {
  margin-top: 9px;
  padding-right: 2px;
}
.container-1 .right-container-1 .top-right-container-1 {
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.66%;
}
.container-1 .right-container-1 .bot-right-container-1 {
  display: flex;
  width: 121px;
  justify-content: space-between;
  margin-top: 12px;
}

.container-2 {
  max-width: 1312px;
  margin: auto;
  margin-top: 100px;
}
.container-2 img {
  width: 100%;
}
.container-2 .imgcon2 {
  display: none;
}

.container-3 {
  width: 1046px;
  margin: auto;
  margin-top: 95px;
}
.container-3 .title-container-3 {
  width: 419px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.528%;
}
.container-3 .about-1-container-3 {
  margin-top: 16px;
  width: 715px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
}
.container-3 .list-container-3 {
  margin-top: 42px;
  padding-left: 16px;
}
.container-3 .list-container-3 li {
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.66%;
  margin-bottom: 12px;
}
.container-3 .about-2-container-3 {
  width: 715px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
  margin-top: 40px;
}

.conteiner-4 {
  margin: auto;
  max-width: 1312px;
  margin-top: 100px;
}
.conteiner-4 .top-conteiner-4 img {
  width: 100%;
}
.conteiner-4 .top-conteiner-4 .bg222 {
  display: none;
}
.conteiner-4 .mid-container-4 {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-5 {
  width: 1046px;
  margin: auto;
  margin-top: 95px;
  padding-bottom: 96px;
  border-bottom: 2px solid #c2c2c2;
}
.container-5 .title-container-5 {
  width: 419px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.528%;
}
.container-5 .about-1-container-5 {
  margin-top: 16px;
  width: 715px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
}
.container-5 .list-container-5 {
  margin-top: 41px;
  padding-left: 0px;
}
.container-5 .list-container-5 li {
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
  margin-bottom: 12px;
  list-style-type: none;
  background-image: url(../img/oneNews/cercl.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 16px;
  letter-spacing: 0px;
}
.container-5 .about-2-container-5 {
  width: 715px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
  margin-top: 40px;
}
.container-5 .share-container-5 {
  display: none;
}
.container-5 .share-container-5 .top-right-container-1 {
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.66%;
}
.container-5 .share-container-5 .bot-right-container-1 {
  display: flex;
  width: 121px;
  justify-content: space-between;
  margin-top: 12px;
}

.container-6 {
  max-width: 1238px;
  margin-top: 142px;
  margin-left: 434px;
}
.container-6 .top-container-6 {
  color: #080808;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 72px;
}
.container-6 .body-container-6 .swiper-container {
  overflow: hidden;
  /* Відключення горизонтального скролінгу */
  max-width: 100%;
  /* Обмеження максимальної ширини контейнера */
  white-space: nowrap;
  /* Відключення переносів */
}
.container-6 .body-container-6 .swiper-container .card-container-6 {
  max-width: 316px;
}
.container-6 .body-container-6 .swiper-container .card-container-6 img {
  width: 316px;
}
.container-6 .body-container-6 .swiper-container .card-container-6 .about-card {
  margin-top: 24px;
  color: #3A3E4B;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.16%;
  width: 316px;
}
.container-6 .body-container-6 .swiper-container .card-container-6 .date-card {
  margin-top: 13px;
  color: #828282;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
}

.bot-container-5 {
  max-width: 1440px;
  margin: auto;
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
}
.bot-container-5 .left-bot-container-5 {
  color: #828282;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 152.375%;
}
@media (max-width: 1439px) {
  header .left-header-menu .left-drop-down-menu .darkimg {
    display: block;
  }
  header .left-header-menu .left-drop-down-menu .lightimg {
    display: none;
  }
  .container-1 {
    max-width: 1046px;
    margin: auto;
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    padding-left: 159px;
    padding-right: 159px;
    flex-wrap: wrap;
  }
  .container-1 .left-container-1 .top-left-container-1 {
    width: 430px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
  }
  .container-1 .left-container-1 .bot-left-container-1 {
    margin-top: 22px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    max-width: 703px;
  }
  .container-1 .right-container-1 {
    margin-top: 9px;
    padding-right: 2px;
    display: none;
  }
  .container-1 .right-container-1 .top-right-container-1 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .right-container-1 .bot-right-container-1 {
    display: flex;
    width: 121px;
    justify-content: space-between;
    margin-top: 12px;
  }
  .container-2 {
    max-width: 1312px;
    margin: auto;
    margin-top: 73px;
    padding-left: 56px;
    padding-right: 56px;
  }
  .container-2 img {
    width: 100%;
  }
  .container-3 {
    width: auto;
    margin: auto;
    margin-top: 88px;
    padding-left: 159px;
    padding-right: 159px;
  }
  .container-3 .title-container-3 {
    width: 419px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-3 .about-1-container-3 {
    margin-top: 24px;
    max-width: 700px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-3 .list-container-3 {
    margin-top: 21px;
    padding-left: 16px;
  }
  .container-3 .list-container-3 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
    margin-bottom: 12px;
  }
  .container-3 .about-2-container-3 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 33px;
  }
  .conteiner-4 {
    margin: auto;
    max-width: 1312px;
    margin-top: 80px;
    padding-left: 56px;
    padding-right: 56px;
  }
  .conteiner-4 .top-conteiner-4 img {
    width: 100%;
  }
  .conteiner-4 .mid-container-4 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .conteiner-4 .mid-container-4 img {
    width: 452px;
    height: 544px;
    margin: 0px;
    margin-bottom: 0px;
  }
  .container-5 {
    width: auto;
    margin: auto;
    margin-top: 88px;
    padding-bottom: 46px;
    border-bottom: 2px solid #c2c2c2;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 159px;
    margin-right: 150px;
  }
  .container-5 .title-container-5 {
    width: 419px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-5 .about-1-container-5 {
    margin-top: 24px;
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-5 .list-container-5 {
    margin-top: 32px;
    padding-left: 0px;
  }
  .container-5 .list-container-5 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 12px;
    list-style-type: none;
    background-image: url(../img/oneNews/cercl.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
    letter-spacing: 0px;
  }
  .container-5 .about-2-container-5 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 32px;
  }
  .container-5 .share-container-5 {
    margin-top: 48px;
    display: block;
  }
  .container-6 {
    max-width: 1238px;
    margin-top: 165px;
    margin-left: 0px;
    padding-left: 159px;
    padding-right: 0px;
  }
  .container-6 .top-container-6 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 57px;
  }
  .container-6 .body-container-6 .swiper-container {
    overflow: hidden;
    /* Відключення горизонтального скролінгу */
    max-width: 100%;
    /* Обмеження максимальної ширини контейнера */
    white-space: nowrap;
    /* Відключення переносів */
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 {
    max-width: 293px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 img {
    width: 293px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .about-card {
    margin-top: 24px;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.16%;
    width: 293px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .date-card {
    margin-top: 13px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .bot-container-5 {
    max-width: 1440px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 56px;
    padding-right: 64px;
  }
  .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
  }
  .bot-container-5 .right-bot-container-5 {
    margin-top: -1px;
  }
}
@media (max-width: 1000px) {
  header .left-header-menu .logo-header {
    margin-left: 6px;
    margin-top: -1px;
  }
  header .left-header-menu .left-drop-down-menu {
    margin-left: 75px;
  }
  header .left-header-menu .left-drop-down-menu span {
    display: none;
  }
  header .left-header-menu .left-drop-down-menu .darkimg {
    display: block;
    margin-top: -1px;
  }
  header .left-header-menu .left-drop-down-menu .lightimg {
    display: none;
  }
  .container-1 {
    max-width: 1046px;
    margin: auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    padding-left: 124px;
    padding-right: 124px;
    flex-wrap: wrap;
  }
  .container-1 .left-container-1 .top-left-container-1 {
    width: 430px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
  }
  .container-1 .left-container-1 .bot-left-container-1 {
    margin-top: 14px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    max-width: 520px;
  }
  .container-1 .right-container-1 {
    margin-top: 9px;
    padding-right: 2px;
    display: none;
  }
  .container-1 .right-container-1 .top-right-container-1 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .right-container-1 .bot-right-container-1 {
    display: flex;
    width: 121px;
    justify-content: space-between;
    margin-top: 12px;
  }
  .container-2 {
    max-width: 1312px;
    margin: auto;
    margin-top: 65px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .container-2 img {
    width: 100%;
  }
  .container-3 {
    width: auto;
    margin: auto;
    margin-top: 72px;
    padding-left: 124px;
    padding-right: 124px;
  }
  .container-3 .title-container-3 {
    width: 419px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-3 .about-1-container-3 {
    margin-top: 24px;
    max-width: 520px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-3 .list-container-3 {
    margin-top: 33px;
    padding-left: 16px;
  }
  .container-3 .list-container-3 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160.66%;
    margin-bottom: 12px;
  }
  .container-3 .about-2-container-3 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 33px;
  }
  .conteiner-4 {
    margin: auto;
    max-width: 1312px;
    margin-top: 76px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .conteiner-4 .top-conteiner-4 img {
    width: 100%;
  }
  .conteiner-4 .mid-container-4 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .conteiner-4 .mid-container-4 img {
    width: 332px;
    height: 400px;
    margin: 0px;
    margin-bottom: 0px;
  }
  .container-5 {
    width: auto;
    margin: auto;
    margin-top: 70px;
    padding-bottom: 46px;
    border-bottom: 2px solid #c2c2c2;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 124px;
    margin-right: 124px;
  }
  .container-5 .title-container-5 {
    width: 419px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-5 .about-1-container-5 {
    margin-top: 24px;
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 165.66%;
  }
  .container-5 .list-container-5 {
    margin-top: 32px;
    padding-left: 0px;
  }
  .container-5 .list-container-5 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 12px;
    list-style-type: none;
    background-image: url(../img/oneNews/cercl.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
    letter-spacing: 0px;
  }
  .container-5 .about-2-container-5 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 32px;
  }
  .container-5 .share-container-5 {
    margin-top: 40px;
    display: block;
  }
  .container-6 {
    max-width: 1238px;
    margin-top: 130px;
    margin-left: 0px;
    padding-left: 124px;
    padding-right: 0px;
  }
  .container-6 .top-container-6 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
  }
  .container-6 .body-container-6 .swiper-container {
    overflow: hidden;
    /* Відключення горизонтального скролінгу */
    max-width: 100%;
    /* Обмеження максимальної ширини контейнера */
    white-space: nowrap;
    /* Відключення переносів */
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 {
    max-width: 366px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 img {
    width: 366px;
    height: 450px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .about-card {
    margin-top: 24px;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.16%;
    width: 293px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .date-card {
    margin-top: 13px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .bot-container-5 {
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 51px;
  }
  .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
  }
  .bot-container-5 .right-bot-container-5 {
    margin-top: -3px;
  }
}
@media (max-width: 700px) {
  header .left-header-menu .logo-header {
    margin-left: 0px;
    margin-top: -1px;
  }
  header .left-header-menu .left-drop-down-menu {
    margin-left: 75px;
  }
  header .left-header-menu .left-drop-down-menu span {
    display: none;
  }
  header .left-header-menu .left-drop-down-menu .darkimg {
    display: block;
    margin-top: -1px;
  }
  header .left-header-menu .left-drop-down-menu .lightimg {
    display: none;
  }
  header .right-header-menu .En-cont {
    margin-top: 1px;
    margin-right: 53px;
  }
  header .right-header-menu .right-drop-down-menu .lightimg {
    display: none;
  }
  header .right-header-menu .right-drop-down-menu .darkimg2 {
    display: block;
    margin-right: 2px;
  }
  .container-1 {
    max-width: 1046px;
    margin: auto;
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    flex-wrap: wrap;
  }
  .container-1 .left-container-1 .top-left-container-1 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    width: 327px;
  }
  .container-1 .left-container-1 .bot-left-container-1 {
    margin-top: 15px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    max-width: 327px;
  }
  .container-1 .right-container-1 {
    margin-top: 9px;
    padding-right: 2px;
    display: none;
  }
  .container-1 .right-container-1 .top-right-container-1 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .right-container-1 .bot-right-container-1 {
    display: flex;
    width: 121px;
    justify-content: space-between;
    margin-top: 12px;
  }
  .container-2 {
    max-width: 1312px;
    margin: auto;
    margin-top: 57px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-2 img {
    width: 327px;
    height: 220px;
    display: none;
  }
  .container-2 .imgcon2 {
    display: block;
  }
  .container-3 {
    width: auto;
    margin: auto;
    margin-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-3 .title-container-3 {
    width: 327px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-3 .about-1-container-3 {
    margin-top: 24px;
    width: 327px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-3 .list-container-3 {
    margin-top: 22px;
    padding-left: 15px;
  }
  .container-3 .list-container-3 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160.66%;
    margin-bottom: 12px;
  }
  .container-3 .about-2-container-3 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 8px;
  }
  .conteiner-4 {
    margin: auto;
    max-width: 1312px;
    margin-top: 43px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .conteiner-4 .top-conteiner-4 img {
    width: 100%;
    display: none;
  }
  .conteiner-4 .top-conteiner-4 .bg222 {
    display: block;
  }
  .conteiner-4 .mid-container-4 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .conteiner-4 .mid-container-4 img {
    width: 327px;
    height: 393px;
    margin: 0px;
    margin-bottom: 8px;
  }
  .container-5 {
    width: auto;
    margin: auto;
    margin-top: 53px;
    padding-bottom: 46px;
    border-bottom: 2px solid #c2c2c2;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .container-5 .title-container-5 {
    width: 419px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.528%;
  }
  .container-5 .about-1-container-5 {
    margin-top: 24px;
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .container-5 .list-container-5 {
    margin-top: 32px;
    padding-left: 0px;
  }
  .container-5 .list-container-5 li {
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 10px;
    list-style-type: none;
    background-image: url(../img/oneNews/cercl.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    padding-left: 16px;
    letter-spacing: 0px;
  }
  .container-5 .about-2-container-5 {
    width: auto;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-top: 33px;
  }
  .container-5 .share-container-5 {
    margin-top: 33px;
    display: block;
  }
  .container-6 {
    max-width: 1238px;
    margin-top: 98px;
    margin-left: 0px;
    padding-left: 24px;
    padding-right: 0px;
  }
  .container-6 .top-container-6 {
    color: #080808;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 39px;
  }
  .container-6 .body-container-6 .swiper-container {
    overflow: hidden;
    /* Відключення горизонтального скролінгу */
    max-width: 100%;
    /* Обмеження максимальної ширини контейнера */
    white-space: nowrap;
    /* Відключення переносів */
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 {
    max-width: 290px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 img {
    width: 290px;
    height: 357px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .about-card {
    margin-top: 24px;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 137.16%;
    width: 290px;
  }
  .container-6 .body-container-6 .swiper-container .card-container-6 .date-card {
    margin-top: 13px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
  }
  .bot-container-5 {
    max-width: 1440px;
    margin: auto;
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 51px;
  }
  .bot-container-5 .left-bot-container-5 {
    color: #828282;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%;
  }
  .bot-container-5 .right-bot-container-5 {
    margin-top: 12px;
    margin-left: 4px;
  }
}