.container-1 {
  margin: auto;
  max-width: 1440px;
  height: 744px;
  background-image: url(../img/oneProject/img1.png);
}
.container-1 .title-container-1 {
  color: white;
  width: 539px;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 166px;
  margin-left: 197px;
}
.container-1 .about-container-1 {
  margin-top: 22px;
  margin-left: 197px;
  width: 462px;
  color: var(--4, #FFF);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 169.06%;
}
.container-1 .img-con-1 {
  margin-top: 68px;
  margin-left: 197px;
}
.container-1 .img-con-2 {
  display: none;
}
.container-1 .img-con-3 {
  display: none;
}
.container-1 .share-container-1 {
  display: flex;
  align-items: center;
  margin-left: 43px;
  margin-top: 159px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.66%;
}
.container-1 .share-container-1 .logo-container-1 {
  margin-left: 111px;
  width: 121px;
  display: flex;
  justify-content: space-between;
}

.container-2 {
  max-width: 1046px;
  margin: auto;
  margin-top: 139px;
  margin-bottom: 140px;
}
.container-2 .title-container-2 {
  width: 419px;
  margin-bottom: 17px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.528%;
}
.container-2 .about-container-2 {
  width: 715px;
  color: #080808;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
  margin-bottom: 43px;
}
.container-2 .discover-container-2 {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #080808;
}
.container-2 .discover-container-2 span {
  margin-left: 9px;
  margin-right: 8px;
}

.container-3 {
  margin: auto;
  max-width: 1312px;
  margin-top: 50px;
}
.container-3 .line2-container-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.container-3 .line3-container-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-3 .line4-container-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container-4 {
  display: flex;
  justify-content: center;
}
.container-4 button {
  width: 204px;
  height: 48px;
  color: #080808;
  text-align: center;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 72px;
  margin-bottom: 140px;
  border: 1px solid gray;
}

.container-5 {
  padding-top: 9px;
  background-color: #080808;
  position: relative;
}
.container-5 .top-container-5 {
  width: 1046px;
  height: 700px;
  margin: auto;
  background: url(../img/container3/img7.png) no-repeat;
  background-position: 45.3% 43.8%;
}
.container-5 .top-container-5 .leftSide-top-container-5 {
  padding-top: 169px;
  width: 424px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.4%;
}
.container-5 .top-container-5 .rightSide-top-container-5 {
  margin-left: auto;
  margin-top: 25px;
  width: 338px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 170.66%;
}
.container-5 .top-container-5 .rightSide-top-container-5 button {
  margin-top: 43px;
  width: 183px;
  height: 48px;
  background-color: #fff;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  border: 1px solid black;
}
.container-5 .mid-container-5 {
  padding-top: 14px;
  padding-bottom: 526px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-5 .mid-container-5 .next-container-5 {
  width: 89px;
  color: #828282;
  font-family: "Montserrat";
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 170.66%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container-5 .mid-container-5 .persect-container-5 {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-5 .bg-container-5 {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 94.5%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@media (max-width: 1439px) {
  .container-1 {
    margin: auto;
    max-width: 1440px;
    height: 703px;
    background-image: url(../img/oneProject/bg11024.png);
    background-size: 100% 100%;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: -4px;
  }
  .container-1 .title-container-1 {
    color: white;
    width: 452px;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 142px;
    margin-left: 159px;
  }
  .container-1 .about-container-1 {
    margin-top: 23px;
    margin-left: 159px;
    width: 464px;
    color: var(--4, #FFF);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.06%;
  }
  .container-1 .img-con-1 {
    margin-top: 68px;
    margin-left: 40px;
    display: none;
  }
  .container-1 .img-con-2 {
    display: block;
    margin-top: 51px;
    margin-left: 159px;
  }
  .container-1 .share-container-1 {
    display: flex;
    align-items: center;
    margin-left: 56px;
    margin-top: 176px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .share-container-1 .logo-container-1 {
    margin-left: 59px;
    width: 121px;
    display: flex;
    justify-content: space-between;
  }
  .container-2 {
    max-width: 1046px;
    margin: auto;
    margin-top: 124px;
    margin-bottom: 40px;
    padding-left: 159px;
    padding-right: 15px;
  }
  .container-2 .title-container-2 {
    width: 419px;
    margin-bottom: 16px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
  }
  .container-2 .about-container-2 {
    width: 602px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 43px;
  }
  .container-2 .discover-container-2 {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #080808;
  }
  .container-2 .discover-container-2 span {
    margin-left: 9px;
    margin-right: 8px;
  }
  .container-3 {
    margin: auto;
    max-width: 1312px;
    margin-top: 124px;
    padding-left: 56px;
    padding-right: 56px;
  }
  .container-3 .line2-container-2 {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container-3 .line2-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-3 .line3-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-3 .line3-container-2 img {
    margin-bottom: 0px;
    width: 452px;
    height: 544px;
  }
  .container-3 .line4-container-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container-3 .line4-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-4 {
    display: flex;
    justify-content: center;
  }
  .container-4 button {
    width: 204px;
    height: 48px;
    color: #080808;
    text-align: center;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 58px;
    margin-bottom: 124px;
    border: 1px solid gray;
  }
  .container-5 {
    padding-top: 9px;
    background-color: #080808;
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
  }
  .container-5 .top-container-5 {
    width: auto;
    height: 600px;
    margin: auto;
    background: none;
    background-position: 45.3% 32.8%;
    background-size: 70%, 70%;
  }
  .container-5 .top-container-5 .leftSide-top-container-5 {
    margin: auto;
    text-align: center;
    padding-top: 130px;
    width: 366px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.4%;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 {
    margin-left: auto;
    width: 448px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 button {
    margin-top: 66px;
    width: 183px;
    height: 42px;
    background-color: #fff;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    border: 1px solid black;
  }
  .container-5 .mid-container-5 {
    padding-top: 13px;
    padding-bottom: 26px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-5 .mid-container-5 .next-container-5 {
    width: 89px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.66%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 6px;
  }
  .container-5 .mid-container-5 .persect-container-5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-5 .bg-container-5 {
    width: 100%;
    margin: auto;
    position: static;
    left: 50%;
    top: 94.5%;
    transform: none;
    z-index: 5;
    margin-top: 70px;
    display: none;
  }
  .container-5 .bg-container-5 img {
    width: 100%;
  }
  .container-5 .bg-container-5-con {
    margin-top: 71px;
    width: 912px;
    height: 419px;
    background: url(../img/oneProject/bgbot.png);
  }
}
@media (max-width: 1000px) {
  .container-1 {
    margin: auto;
    max-width: 1440px;
    height: 959px;
    background-image: url(../img/oneProject/bg1768.png);
    background-size: 100% 100%;
    background-position: center;
    padding-left: 6px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: 0px;
    margin-right: -6px;
  }
  .container-1 .title-container-1 {
    color: white;
    width: 452px;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 278px;
    margin-left: 118px;
  }
  .container-1 .about-container-1 {
    margin-top: 23px;
    margin-left: 118px;
    width: 464px;
    color: var(--4, #FFF);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.06%;
  }
  .container-1 .img-con-1 {
    margin-top: 68px;
    margin-left: 40px;
    display: none;
  }
  .container-1 .img-con-2 {
    display: block;
    margin-top: 35px;
    margin-left: 118px;
  }
  .container-1 .share-container-1 {
    display: flex;
    align-items: center;
    margin-left: 42px;
    margin-top: 312px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .share-container-1 .logo-container-1 {
    margin-left: 32px;
    width: 121px;
    display: flex;
    justify-content: space-between;
  }
  .container-2 {
    max-width: 1046px;
    margin: auto;
    margin-top: 104px;
    margin-bottom: 40px;
    padding-left: 124px;
    padding-right: 15px;
  }
  .container-2 .title-container-2 {
    width: 419px;
    margin-bottom: 24px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
  }
  .container-2 .about-container-2 {
    width: 520px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 43px;
  }
  .container-2 .discover-container-2 {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #080808;
  }
  .container-2 .discover-container-2 span {
    margin-left: 9px;
    margin-right: 8px;
  }
  .container-3 {
    margin: auto;
    max-width: 1312px;
    margin-top: 104px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .container-3 .line2-container-2 {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container-3 .line2-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-3 .line3-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-3 .line3-container-2 img {
    margin-bottom: 0px;
    width: 332px;
    height: 400px;
  }
  .container-3 .line4-container-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container-3 .line4-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-4 {
    display: flex;
    justify-content: center;
  }
  .container-4 button {
    width: 204px;
    height: 48px;
    color: #080808;
    text-align: center;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 48px;
    margin-bottom: 104px;
    border: 1px solid gray;
    margin-left: -7px;
  }
  .container-5 {
    padding-top: 9px;
    background-color: #080808;
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
  }
  .container-5 .top-container-5 {
    width: auto;
    height: 547px;
    margin: auto;
    background: none;
    background-position: 45.3% 32.8%;
    background-size: 70%, 70%;
  }
  .container-5 .top-container-5 .leftSide-top-container-5 {
    margin: auto;
    text-align: center;
    padding-top: 112px;
    width: 366px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.4%;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 {
    margin-left: auto;
    width: 448px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 button {
    margin-top: 52px;
    width: 183px;
    height: 42px;
    background-color: #fff;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    border: 1px solid black;
  }
  .container-5 .mid-container-5 {
    padding-top: 13px;
    padding-bottom: 26px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-5 .mid-container-5 .next-container-5 {
    width: 89px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.66%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 6px;
  }
  .container-5 .mid-container-5 .persect-container-5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-5 .bg-container-5 {
    width: 100%;
    margin: auto;
    position: static;
    left: 50%;
    top: 94.5%;
    transform: none;
    z-index: 5;
    margin-top: 70px;
    display: none;
  }
  .container-5 .bg-container-5 img {
    width: 100%;
  }
  .container-5 .bg-container-5-con {
    margin-top: 47px;
    margin-left: -8px;
    width: 672px;
    height: 427;
    background: url(../img/oneProject/bgbot.png);
  }
}
@media (max-width: 700px) {
  .container-1 {
    margin: auto;
    max-width: 1440px;
    height: 542px;
    background-image: url(../img/oneProject/bg1768.png);
    background-size: auto 100%;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-1 header .left-header-menu .logo-header {
    margin-top: 0px;
    margin-right: 0px;
  }
  .container-1 .title-container-1 {
    color: white;
    width: 241px;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 44px;
    margin-left: 23px;
  }
  .container-1 .about-container-1 {
    margin-top: 14px;
    margin-left: 23px;
    width: 327px;
    color: var(--4, #FFF);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 169.06%;
  }
  .container-1 .img-con-1 {
    margin-top: 68px;
    margin-left: 40px;
    display: none;
  }
  .container-1 .img-con-2 {
    display: none;
    margin-top: 35px;
    margin-left: 118px;
  }
  .container-1 .img-con-3 {
    display: block;
    margin-left: 23px;
    margin-top: 36px;
  }
  .container-1 .share-container-1 {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 59px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.66%;
  }
  .container-1 .share-container-1 .logo-container-1 {
    margin-left: 16px;
    width: 121px;
    display: flex;
    justify-content: space-between;
  }
  .container-2 {
    max-width: 1046px;
    margin: auto;
    margin-top: 78px;
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 15px;
  }
  .container-2 .title-container-2 {
    width: 327px;
    margin-bottom: 24px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 136.528%;
  }
  .container-2 .about-container-2 {
    width: 327px;
    color: #080808;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin-bottom: 44px;
  }
  .container-2 .discover-container-2 {
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #080808;
  }
  .container-2 .discover-container-2 span {
    margin-left: 9px;
    margin-right: 8px;
  }
  .container-3 {
    margin: auto;
    max-width: 1312px;
    margin-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-3 .line2-container-2 {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .container-3 .line2-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-3 .line3-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-3 .line3-container-2 img {
    margin-bottom: 8px;
    width: 327px;
    height: 392px;
  }
  .container-3 .line4-container-2 {
    margin-top: 0px;
    margin-bottom: 8px;
  }
  .container-3 .line4-container-2 img {
    margin: auto;
    width: 100%;
  }
  .container-4 {
    display: flex;
    justify-content: center;
  }
  .container-4 button {
    width: 183px;
    height: 42px;
    color: #080808;
    text-align: center;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 41px;
    margin-bottom: 80px;
    border: 1px solid gray;
    margin-left: 0px;
  }
  .container-5 {
    padding-top: 9px;
    background-color: #080808;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-5 .top-container-5 {
    width: auto;
    height: 463px;
    margin: auto;
    background: none;
    background-position: 45.3% 32.8%;
    background-size: 70%, 70%;
  }
  .container-5 .top-container-5 .leftSide-top-container-5 {
    margin: 0px;
    text-align: start;
    padding-top: 88px;
    width: 290px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 {
    margin-left: 0px;
    width: 327px;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 170.66%;
    margin: auto;
    text-align: start;
    margin-top: 21px;
  }
  .container-5 .top-container-5 .rightSide-top-container-5 button {
    margin-top: 40px;
    width: 183px;
    height: 42px;
    background-color: #fff;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    border: 1px solid black;
  }
  .container-5 .mid-container-5 {
    padding-top: 13px;
    padding-bottom: 26px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-5 .mid-container-5 .next-container-5 {
    width: 89px;
    color: #828282;
    font-family: "Montserrat";
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 170.66%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 6px;
  }
  .container-5 .mid-container-5 .persect-container-5 {
    color: #FFF;
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -2px;
  }
  .container-5 .bg-container-5 {
    width: 100%;
    margin: auto;
    position: static;
    left: 50%;
    top: 94.5%;
    transform: none;
    z-index: 5;
    margin-top: 70px;
    display: none;
  }
  .container-5 .bg-container-5 img {
    width: 100%;
  }
  .container-5 .bg-container-5-con {
    margin-top: 23px;
    margin-left: -1px;
    width: 327px;
    height: 392px;
    background: url(../img/oneProject/bgbot.png);
    background-position: center;
  }
}