body {
  background-color: #080808;
  padding-top: 56px;
}

.container-1 {
  margin: auto;
  width: 1046px;
  height: 803px;
  background: #F6F6F6;
  padding-top: 56px;
}
.container-1 .main-con {
  width: 800px;
  height: 354px;
  margin: auto;
  background-color: #fff;
  padding-top: 44px;
  padding-left: 70px;
  padding-right: 70px;
}
.container-1 .main-con .title-con {
  text-align: center;
  color: #3A3E4B;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-1 .main-con .data-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-1 .main-con .data-container .card-data {
  width: 312px;
  padding-bottom: 11px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 32px;
}
.container-1 .main-con .data-container .card-data .card-data-input {
  color: #3A3E4B;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container-1 .main-con .data-container .card-data-long {
  width: 100%;
  padding-bottom: 11px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 32px;
}
.container-1 .main-con .data-container .card-data-long .card-data-input {
  color: #3A3E4B;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container-1 .bot-con {
  width: 800px;
  height: 330px;
  margin: auto;
  background-color: #fff;
  padding-top: 44px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 6px;
}
.container-1 .bot-con .area {
  color: #3A3E4B;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container-1 .bot-con .line-big {
  margin-top: 21px;
  background: url(../img/popUp/linebig.png);
  height: 40px;
  width: 674px;
}
.container-1 .bot-con .mid-bot-con {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-1 .bot-con .mid-bot-con button {
  background: #3A3E4B;
  width: 183px;
  height: 42px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
}
.container-1 .bot-con .about-about {
  margin-top: 30px;
  color: #AFB0B2;
  text-align: center;
  font-family: "Roboto";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
  letter-spacing: 0.6px;
}

@media (max-width: 1439px) {
  body {
    background-color: #080808;
    padding-top: 43px;
  }
  .container-1 {
    margin: auto;
    width: 808px;
    height: 667px;
    background: #F6F6F6;
    padding-top: 32px;
  }
  .container-1 .main-con {
    width: 706px;
    height: 356px;
    margin: auto;
    background-color: #fff;
    padding-top: 44px;
    padding-left: 52px;
    padding-right: 52px;
  }
  .container-1 .main-con .title-con {
    text-align: center;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-1 .main-con .data-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .main-con .data-container .card-data {
    width: 285px;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 32px;
  }
  .container-1 .main-con .data-container .card-data .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .main-con .data-container .card-data-long {
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 32px;
  }
  .container-1 .main-con .data-container .card-data-long .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con {
    width: 706px;
    height: 241px;
    margin: auto;
    background-color: #fff;
    padding-top: 44px;
    padding-left: 52px;
    padding-right: 0px;
    margin-top: 6px;
  }
  .container-1 .bot-con .area {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .line-big {
    margin-top: 21px;
    background: url(../img/popUp/linebig2.png);
    height: 40px;
    width: 625px;
  }
  .container-1 .bot-con .mid-bot-con {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-1 .bot-con .mid-bot-con img {
    display: none;
  }
  .container-1 .bot-con .mid-bot-con button {
    margin-left: -53px;
    background: #3A3E4B;
    width: 183px;
    height: 42px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .about-about {
    margin-top: 30px;
    color: #AFB0B2;
    text-align: center;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    letter-spacing: 0.6px;
    display: none;
  }
}
@media (max-width: 1000px) {
  body {
    background-color: #080808;
    padding-top: 45px;
    height: 1024px;
  }
  .container-1 {
    margin: auto;
    width: 558px;
    height: 933px;
    background: #F6F6F6;
    padding-top: 32px;
  }
  .container-1 .main-con {
    width: 478px;
    height: 553px;
    margin: auto;
    background-color: #fff;
    padding-top: 44px;
    padding-left: 56px;
    padding-right: 56px;
  }
  .container-1 .main-con .title-con {
    text-align: center;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-1 .main-con .data-container {
    margin-top: 32px;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .main-con .data-container .card-data {
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 34px;
  }
  .container-1 .main-con .data-container .card-data .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .main-con .data-container .card-data-long {
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 32px;
  }
  .container-1 .main-con .data-container .card-data-long .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con {
    width: 478px;
    height: 310px;
    margin: auto;
    background-color: #fff;
    padding-top: 44px;
    padding-left: 56px;
    padding-right: 0px;
    margin-top: 6px;
  }
  .container-1 .bot-con .area {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .line-big {
    margin-top: 21px;
    background: url(../img/popUp/linesmal1.png);
    height: 109px;
    width: 366px;
    display: block;
  }
  .container-1 .bot-con .mid-bot-con {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-1 .bot-con .mid-bot-con img {
    display: none;
  }
  .container-1 .bot-con .mid-bot-con button {
    margin-left: -56px;
    background: #3A3E4B;
    width: 183px;
    height: 42px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .about-about {
    margin-top: 30px;
    color: #AFB0B2;
    text-align: center;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    letter-spacing: 0.6px;
    display: none;
  }
}
@media (max-width: 700px) {
  body {
    background-color: #080808;
    padding-top: 64px;
    height: 949px;
  }
  .container-1 {
    margin: auto;
    width: 327px;
    height: auto;
    background: #080808;
    padding-top: 0px;
  }
  .container-1 .main-con {
    width: 327px;
    height: 529px;
    margin: auto;
    background-color: #fff;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .container-1 .main-con .title-con {
    text-align: center;
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-1 .main-con .data-container {
    margin-top: 3px;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-1 .main-con .data-container .card-data {
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 34px;
  }
  .container-1 .main-con .data-container .card-data .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .main-con .data-container .card-data-long {
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 32px;
  }
  .container-1 .main-con .data-container .card-data-long .card-data-input {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con {
    width: 327px;
    height: 284px;
    margin: auto;
    background-color: #fff;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 0px;
    margin-top: 8px;
  }
  .container-1 .bot-con .area {
    color: #3A3E4B;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .line-big {
    margin-top: 21px;
    background: url(../img/popUp/linesmal2.png);
    height: 40px;
    width: 279px;
    display: block;
  }
  .container-1 .bot-con .line-small {
    margin-top: 24px;
    background: url(../img/popUp/linesmal3.png);
    height: 40px;
    width: 279px;
    display: block;
  }
  .container-1 .bot-con .mid-bot-con {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-1 .bot-con .mid-bot-con img {
    display: none;
  }
  .container-1 .bot-con .mid-bot-con button {
    margin-left: -24px;
    background: #3A3E4B;
    width: 183px;
    height: 42px;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }
  .container-1 .bot-con .about-about {
    margin-top: 30px;
    color: #AFB0B2;
    text-align: center;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    letter-spacing: 0.6px;
    display: none;
  }
}