body {
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container-1 {
  color: #FAFAFA;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}